In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [ ]:
producer = KafkaProducer(bootstrap_servers=[':9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [ ]:
producer.send('demo_test', value={'surnasdasdame':'parasdasdmar'})

In [4]:
df = pd.read_csv("monthly_global_max.csv")

In [5]:
df.head()

,OID,tmax December,tmax January,tmax February,tmax March,tmax April,tmax May,tmax June,tmax July,tmax August,tmax September,tmax October,tmax November,Shape__Area,Shape__Length
0,26981,11.934262,12.731049,12.330565,10.824688,8.726662,6.283948,4.209981,4.125992,5.320441,7.079730,9.160709,10.573723,0.462963,2.777778
1,27411,11.006070,11.682851,11.091412,9.841140,7.754827,5.490396,3.719779,3.516275,4.294390,6.094430,8.201740,9.540470,0.462963,2.777778
2,27412,10.040694,10.704951,10.087384,8.744941,6.661697,4.269543,2.256088,2.131528,3.038448,5.004485,7.162089,8.678166,0.462963,2.777778
3,27413,11.186890,11.845022,11.276678,9.801791,7.638330,4.963131,2.846345,2.722611,3.946722,5.989307,8.207634,9.762653,0.462963,2.777778
4,27414,11.946646,12.753782,12.155747,10.543756,8.330193,5.485218,3.124533,3.108171,4.609139,6.544107,8.922245,10.510126,0.462963,2.777778

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)

In [ ]:
producer.flush() #clear data from kafka server